
h3 {
    font-family: "Arial", sans-serif; 
    color: purple;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}
.class1 {
    color: red;
}

.class2 {
    font-weight: bold;
}


.photo {
    border: 2px solid black;
    height: 100px;
    width: 200px;
}

.rounded {
    border-radius: 15px;
    height: 100px;
    width: 200px;
}


.professional {
    background-color: lightblue;
}

.personal {
    background-color: lightgreen;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: "Arial", Helvetica, sans-serif;
}
i{
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 1250px;
    transform: translate(1100%, 0%);
}

.skill{
    font-family: Gill Sans, sans-serif;
    list-style: none;
    padding:0;
    margin:0;
}
body{
    background: #ffffff;
    text-transform: uppercase;
}

h3{
    margin:5px;

}
.skills{
    width: 500px;
    margin:60px auto;
    color:#777777;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(255, 0, 0, 0.25), 0 10px 10px rgba(255, 0, 0, 0.22);
}
.skills li {
    margin:20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0 ,0, 0.22);
}
.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(165, 22, 170)100%), rgba(174, 0, 255)100%;
}
.html{
    width: 90%;
    animation: html 3s;
}
.cpp{
    width: 55%;
    animation: cpp 3s;
}
.javascript{
    width: 64%;
    animation:  javascript 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes cpp{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}


  
